<% provide(:title, "Progra:について") %>
<h1>Progra:について</h1>
<p>
  Progra:はプログラマーのための情報シェアアプリケーションです。<br>
  プログラマーとしてバグや分からないことでつまずき、苦労して解決してきたことが多くあると思います。<br>
  その苦労をシェアすることで、プログラマーとしての問題を解決する能力やスピードが加速するのではないのでしょうか。<br>
  Progra:はそんな思いから生まれた、プログラマーをサポートするアプリケーションです。
</p>