<h1>勤怠システム：アカウント有効化メール</h1>

<p><%= @user.name %>さん<p>

<p>
下のリンクからアカウントを有効化しましょう。
</p>

<%= link_to "アカウント有効化", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>