<h1>勤怠システム: パスワード再設定用メール</h1>

<p>下のリンクから、パスワードの再設定をしましょう！</p>

<%= link_to "パスワード再設定", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクの有効期限は２時間です。</p>

<p>
このメールに覚えが無い場合は、お手数ですが下記の管理者まで連絡してください！
</p>

<p> 管理者メールアドレス: testemail1234@gmail.com</p>